h1 {
  font-size: 36px;
  font-family: 'Indie Flower', cursive;
  color: blue;
  text-align: center;
  background-color: rgba(132, 112, 255, .5);
}

p {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;  
  background-color: rgba(255, 182, 193, .5);
  padding: 50px 40px 50px 40px;
}

article {
  padding: 5px 5px 5px 5px;
}

u1 {
  font-size: 18px;
  color: blue;
  background-color: rgba(175, 238, 238, .5);
  padding: 7px;
}
