body {
  background-color: rgba(134, 206, 250, .5);
}

h1 {
  font-size: 36px;
  font-family: 'Indie Flower', cursive;
  color: blue;
  text-align: center;
  background-color: rgba(132, 112, 255, .5);
}
h2 {
  font-size: 26px;
  font-family: 'Indie Flower', cursive;
  color: purple;
  background-color: rgba(000, 206, 209, .5);
}

p {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;  
  background-color: rgba(255, 182, 193, .5);
  padding: 20px 40px 20px 40px;
}

u1 {
  padding: 0px 20px 5px 0px;
}

u2 {
  
}

.dessert p {
  height: 50px;
}
.dessert small {
  opacity: 1;
}
